<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php" colors="true" testdox="true" beStrictAboutChangesToGlobalState="true" beStrictAboutOutputDuringTests="true">
    <testsuites>
        <testsuite>
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <const name="TWITCH_TEST_CLIENT_ID" value="I revoked the ones in the other commit" />
        <const name="TWITCH_TEST_CLIENT_SECRET" value="I revoked the ones in the other commit" />
    </php>
</phpunit>
