<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.dist.php" colors="true" testdox="true" beStrictAboutChangesToGlobalState="true" beStrictAboutOutputDuringTests="true">
    <testsuites>
        <testsuite>
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <const name="TWITCH_TEST_CLIENT_ID" value="Place your credentials in here" />
        <const name="TWITCH_TEST_CLIENT_SECRET" value="Place your credentials in here" />
    </php>
</phpunit>
