<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php" colors="true" testdox="true" beStrictAboutChangesToGlobalState="true" beStrictAboutOutputDuringTests="true">
    <testsuites>
        <testsuite>
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <const name="TWITCH_TEST_CLIENT_ID" value="c4deadog0gs9ncu4waewgh0rp94iuew" />
        <const name="TWITCH_TEST_CLIENT_SECRET" value="g7ebxsdo7rspw5n26v8sl0d0sw4ouo" />
    </php>
</phpunit>
